.react-datepicker__input-container
    width 100%

.map-inner
    height 92vh;

.marker-wrapper
    .market-text
        width 100px

    .glyphicon-map-marker
        color #6600ff
        font-size 30px