@import "reset"
@import "home"
@import "navigation"
@import "coordinates"
@import "gmaps-container"

.app
    min-height 100vh
    background #fff
    background linear-gradient(-15deg, #3C3EB7 -20%, #fff 100%)
    animation appstart 1s
    overflow hidden

    .form-control
        border-radius 0
        
    .check
        padding-left: 25px

    .input-wrapper
        padding 0

        .glyphicon-exclamation-sign
            top -24px
            left 5px
            color red    
        .glyphicon-ok
            top -25px
            left 5px
            color green

@keyframes appstart 
    from
        opacity 0
    to 
        opacity 1